body{
   margin: 0;
   padding: 0;
   line-height: 1.6;
    
}
.container{
    /*background-image: linear-gradient(0deg, rgba(0,74,221,1) 35%, rgba(93,224,230,1) 100%);*/
    height: 100vh;
    width: 100%;
    animation: color 12s ease-in-out infinite;
    background-image: url(../img/LogoR.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}



.btn-block{
    width: 100%;
    height: 73px;
    display: block;
    margin-bottom: 5px;
    margin-top: 789px;
    box-shadow: black;
  }
  .btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #5DE0E6!important;
  }
  button{
    
  }

  .primary {background-color: #e5ff00;} 
  .primary:hover {background: #0b7dda;}
  

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#ocultar{
    display: none;
}

.row{
    justify-content: space-around;
    align-items: center;

}
.tarjeta{
    width: 250px;
    
}

.card-title{
    font-size: 20px;
    font-weight:inherit;
    margin-top: -19px;
    margin-left: 43px;

}

.card-title-1{
    font-size: 20px;
    font-weight:inherit;
    margin-top: -33px;
    margin-left: 35px;

}
.menu{
    width: 132px;
    height: 132px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2),  0 6px 20px 0 rgb(0,0,0,0.19);
    /*background-color: #ebca0f;*/
    background: linear-gradient(to bottom, #f3a27d  0%, #f8c671 100%);
    margin-top: 306px;
    border-radius: 12px;

    
}
.menu-2{
    width: 132px;
    height: 132px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2),  0 6px 20px 0 rgb(0,0,0,0.19);
    background: linear-gradient(to bottom, #6BCAFA  0%, #43DCE1 100%);
    margin-top: 306px;
    border-radius: 12px;

}    

.menu:hover{
    background: linear-gradient(to bottom, #fbaa84af  0%, #f7c368a6 100%);
}
.menu-2:hover{
    background: linear-gradient(to bottom, #6bcafaad  0%, #43dce1a4 100%);
}

.col-1{
    width: 42%;
}    

.container-2{
    margin-right: 116px;
}